<!doctype html>
<html>
   <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
   <title>Optional Pool</title>
   </head>
   </style>
   <body>

<!-- Page Container -->

  <div class="w3-padding w3-xlarge w3-yellow">
  Optional Pool
        <div class="w3-dropdown-hover w3-yellow w3-display-topright w3-padding">
      <a type="submit" href="{{ url_for('logout')}}">Logout</a>
    </div>
  </div> 

  <div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
        </div>
        <div class="w3-container">
          <h2 class="w3-bar-item">List of questions:</h2>
            {% if all_users %}
            {% for user in all_users %}
          <h4 class="w3-bar-item">
            {{user}} </h4>
            {% endfor %}
            {%else%}
          <h4 class="w3-bar-item">No questions</h4>
            {% endif %}   
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card-2 w3-white w3-margin-bottom w3-padding-32">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa-fw w3-margin-right w3-xxlarge w3-text-yellow"></i>Add an optional question:</h2>
        <div class="w3-container">
          <Form method="POST">
          <label>New optional question:</label>
            <input class="w3-input" type="text" name="question_name"/>
            <button class= "w3-yellow w3-button w3-block" type="submit" name="question_name">Submit</button>
        </Form>
        </div>
      
      <div class="w3-container">
          <Form method="POST">
          <br>
          <label>Select course:</label>
          <select class="w3-select w3-border w3-margin-bottom" name="course">
            {% for course in courses %}
              <option value="{{course}}">{{course}}</option>
            {% endfor %}                                              
          </select>
          <button class= "w3-yellow w3-button w3-block" type="submit" value = "edit" name="question_name">Edit Pool</button><br>
          <button class= "w3-yellow w3-button w3-block" type="submit" value = "back" name="question_name">Back</button>
          </Form> 

      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>     
  </body>
</html>
