<!doctype html>
<html>
   <head>
   <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
   <title> Survey list</title>
   </head>
   <body>
           <div class="w3-padding w3-xlarge w3-yellow">
            Staff Dashboard
            <div class="w3-dropdown-hover w3-yellow w3-display-topright w3-padding">
               <a type="submit" href="{{ url_for('logout')}}">Logout</a>
            </div>
            </div>
      <Form method="POST">
         <h3> Survey List </h3>
         {% if all_surveys %}
       {% for survey in all_surveys %}
      <input class="w3-radio" type="radio" name = "course" value = "{{subject}}"> {{subject}} </input><br>
      {% endfor %}
      {%else%}
      No Courses Available
      {% endif %}
         <br>
         <button class="w3-button w3-yellow w3-hover-light-grey" type="submit" name="button" value = "open_survey">Open survey</button>
         <button class="w3-button w3-yellow w3-hover-light grey" type="submit" name="button" value = "see_survey">Review survey</button>
         <button class="w3-button w3-yellow w3-hover-light grey" type="submit" name="button" value = "back">Back</button>
      </Form>
   </body>
</html>