<!doctype html>
<html>
   <head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
    <title>Pool page</title>
   </head>
   <body>
     <div class="w3-padding w3-xlarge w3-red">
   <div class="w3-dropdown-hover w3-blue w3-display-topright w3-padding">
               <a class="w3-blue" style="hover:none decoration:none" type="submit" href="{{ url_for('logout')}}">Logout</a>
            </div>
  </div> 
      <h3> Question pool </h3>
      <Form method="POST">
       {% if all_users %}
       {% for user in all_users %}
      <input class="w3-check" type="checkbox" name = "questions" value = "{{user}}"> {{user}} </input><br>
      {% endfor %}
      {%else%}
      <div class="w3-large">No questions</div>d
      {% endif %}
      {% if create_or_edit == "create"%}
        <button class="w3-button w3-red w3-hover-light-grey" type="submit" name="button" value = "create">Create Survey</button>
        <button class="w3-button w3-red w3-hover-light-grey" type="submit" name="button" value = "back">Back</button>
      {%else%}
        <br>
        <button class="w3-button w3-red w3-hover-light-grey" type="submit" name="button" value = "delete">Delete Questions</button>
        <button class="w3-button w3-red w3-hover-light-grey" type="submit" name="button" value = "back">Back</button>
      {% endif %}
      </Form>
   </body>
   </html>