<!doctype html>
<html>
   <head>
   <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<body>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
   <title>Dashboard</title>
   </head>
   <body>
           <div class="w3-padding w3-xlarge w3-red">
            Staff Dashboard
              <div class="w3-dropdown-hover w3-red w3-display-topright w3-padding">
               <a class="w3-blue" style="hover:teal decoration:none" type="submit" href="{{ url_for('logout')}}">Logout</a>
            </div>
      
  <!-- Sidebar -->
<div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
  <h3 class="w3-bar-item w3-center">Welcome!</h3>
      <Form method="POST">
         <button type="submit" class="w3-btn w3-hover-red w3-block" name="button" value = "Pool">Optional question pool</button>
         <button type="submit" class="w3-btn w3-hover-red w3-block" name="button" value = "SeeSurvey">See Survey List</button>
         <button type="submit" class="w3-btn w3-hover-red w3-block" name="button" value = "CREATE">Create Survey</button>
         <button type="submit" class="w3-btn w3-hover-red w3-block" name="button" value = "METRIC">Metric</button>
      </Form>
</div>
   </body>
</html>
    
